In [1]:
import sys  
sys.path.insert(1, "./../../../../ESN-IP/SOURCES/.")

import random

random.seed(10)

In [2]:
import numpy as np

In [3]:
from Reservoir import ReservoirConfiguration
from Evaluator import Evaluator
from DATA import MG17
from Metrics import MSE, NRMSE, Neff

In [4]:
model_configuration = ReservoirConfiguration(N_units=25, name="Quarter Century")

In [5]:
custom_model_config = ReservoirConfiguration(N_units=10, name="Two digits")

In [6]:
results = Evaluator().evaluate_multiple([model_configuration, custom_model_config], MG17(), repetitions=10, transient=100, estrinsic_metrics=[MSE(plot=False), NRMSE()], intrinsic_metrics=[Neff()])

Reservoir warmed up with the first 100 time steps
Reservoir warmed up with the first 100 time steps
Reservoir warmed up with the first 100 time steps
Reservoir warmed up with the first 100 time steps
Reservoir warmed up with the first 100 time steps
Reservoir warmed up with the first 100 time steps
Reservoir warmed up with the first 100 time steps
Reservoir warmed up with the first 100 time steps
Reservoir warmed up with the first 100 time steps
Reservoir warmed up with the first 100 time steps
Reservoir warmed up with the first 100 time steps
Reservoir warmed up with the first 100 time steps
Reservoir warmed up with the first 100 time steps
Reservoir warmed up with the first 100 time steps
Reservoir warmed up with the first 100 time steps
Reservoir warmed up with the first 100 time steps
Reservoir warmed up with the first 100 time steps
Reservoir warmed up with the first 100 time steps
Reservoir warmed up with the first 100 time steps
Reservoir warmed up with the first 100 time steps

In [9]:
results

        Model Name  Model Index Aggregation       MSE     NRMSE      Neff
0  Quarter Century          0.0        Mean  0.000059  1.120734  4.913727
1  Quarter Century          0.0         Std  0.000008  0.080130  0.644912
2       Two digits          1.0        Mean  0.000078  1.281323  2.887902
3       Two digits          1.0         Std  0.000013  0.096586  0.586291